@font-face {
  font-weight: normal;
  font-family: "gilroyextrabold";
  font-style: normal;

  src: url("../fonts/gilroyextrabold-webfont.woff2") format("woff2");
}

@font-face {
  font-weight: normal;
  font-family: "gilroylight";
  font-style: normal;

  src: url("../fonts/gilroylight-webfont.woff2") format("woff2");
}

@font-face {
  font-weight: normal;
  font-family: "open_sanslight";
  font-style: normal;

  src: url("../fonts/opensans-light-webfont.woff2") format("woff2");
}

@font-face {
  font-weight: normal;
  font-family: "open_sansregular";
  font-style: normal;

  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2");
}

body {
  margin: 0;
  padding: 0;

  font-size: 15px;
  line-height: 30px;
  font-family: open_sanslight;
  color: #000000;
  letter-spacing: 0.15px;

  background-color: #ffffff;
}
a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.user-navigation a {
  color: #000000;
}

/*------------------------------ common styles ------------------------------ */

.wrapper {
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  display: none;
}

/*------------------------------ header ------------------------------ */

.main-header .wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  background: linear-gradient(#ffffff 40px, #f7e296 40px);
  min-height: 210px;
}

.main-navigation {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 16px;
}

.logo-title {
  font-size: 48px;
  line-height: 48px;
  font-family: gilroyextrabold;
  letter-spacing: 0.26px;
  margin: 0;
  padding: 0;
  margin-left: -2px;
  margin-bottom: 10px;;
  color: #000000;
}

.logo-title:hover {
  opacity: 0.6;
}

.logo-title:active {
  opacity: 0.3;
}

.header-line {
  display: flex;
  justify-content: space-between;
  /* box-shadow: 0 0 0 3px red; */
}

.header-line-1 {
  margin-bottom: 30px;
}

.header-column {
  width: 500px;
}

/*---------- header-line-1_column-left ---------- */

.search-form {
  position: relative;
  /* box-shadow: 0 0 0 3px red; */
}

.search-input {
  background-color: #f7e296;
  border: none;
  position: relative;
  padding-left: 40px;
  background: url("../img/search.svg") no-repeat 3px 15px;
  outline: none;
  height: 47px;  
}

.search-input::placeholder {
  opacity: 0.3;
}

.search-input:hover::placeholder {
  opacity: 0.6;
}

.search-input:focus::placeholder {
  opacity: 1.0;
}

.search-input:focus {
  border-bottom: 2px solid black;
}

.search-form-button {
  width: 85px;
  height: 49px;
  border: 2px solid #000000;
  background-color: #f7e296;
  opacity: 0;  
  margin-left: -5px;
}

.search-form-button:hover {
  background-color: #000000;
  color: rgba(255,255,255, 1);
  opacity: 1;
}

.search-form-button:active {
  color: rgba(255,255,255, 0.3);
}

.search-input:focus + .search-form-button {
  opacity: 1;
}

/*---------- header-line-1_column-right ---------- */

.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 9px;;
  display: flex;
}

.user-navigation a {
  margin-left: 25px;
  position: relative;  
}

.user-navigation li {
  margin-left: 35px;
}

.user-navigation li:first-child {
  flex-grow: 1;
  margin-left: 0;
}

.user-navigation a::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 3px;
  left: -25px;
}


.login::before {
  background: url("../img/user.svg") no-repeat 50% 50%;
}

.compare::before {
  background: url("../img/compare.svg") no-repeat 50% 50%;
}

.cart::before {
  background: url("../img/cart.svg") no-repeat 50% 50%;
}

.user-navigation a:hover,
.user-navigation a:hover::before {
  opacity: 0.6;
}

.user-navigation a:active,
.user-navigation a:active::before {
  opacity: 0.3;
}

/*---------- header-line-2_column-left ---------- */

.header-line-2 .header-column-left {
  position: relative;
  line-height: 24px;
}

.catalog-menu-title {
  font-size: 18px;
  line-height: 20px;
  font-family: gilroyextrabold;
  color: #000000;
  margin: 0;
  padding: 0;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  position: relative;
}

.catalog-menu-title:hover {
  opacity: 0.5;
}

.catalog-menu-title:active {
  opacity: 0.3;
}

.catalog-menu-title::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: url("../img/plus.svg");
  top: 1px;
  right: -28px;
  opacity: 0.3;
}

.main-catalog-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 1100px;
  min-height: 129px;
  display: flex;
  justify-content: flex-start;
  background-color: #f8e296;
  display: none;
  position: absolute;
  padding-top: 54px;
  left: 0px;
  z-index: 15;
}

.catalog-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 60px;
}

.main-catalog-menu a { 
  color: #000000;
  font-family: "open_sanslight";
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
}

.main-catalog-menu a:hover {
  opacity: 0.6;
}

.main-catalog-menu a:active {
  opacity: 0.3;
}

.main-catalog-menu:hover,
.catalog-menu-title:active + .main-catalog-menu,
.catalog-menu-title:hover + .main-catalog-menu {
  display: flex;
}

/*---------- header-line-2_column-right ---------- */

.site-navigation a {
  font-size: 18px;
  line-height: 24px;
  font-family: gilroyextrabold;
  color: #000000;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.site-navigation a:hover {
  opacity: 0.5;
}

.site-navigation a:active {
  opacity: 0.3;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.site-navigation {
  display: flex;
  justify-content: flex-end;
}

.site-navigation li {
  margin-right: 35px;
  line-height: 24px;
}

.site-navigation li:last-child {
  margin-right: -5px;
  flex-grow: 1;
  text-align: right;
}

/*------------------------------ product-slider ------------------------------ */

.product-slider {
  min-height: 610px;
  background: linear-gradient(#f8e296 129px, #ffffff 129px);
  /* background: linear-gradient(#000000 129px, #ffffff 129px); */

  position: relative;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.slider-item {
  min-height: 550px;
}

.slider-1,
.slider-2,
.slider-3 {
  display: none;
}

.product-photo {
  margin: 0;
  width: 500px;
  margin-right: 100px;
}

.slider-1 .product-photo {
  padding-left: 90px;
  padding-top: 18px;
}

.slider-3 .product-photo {
  padding-left: 31px;
  padding-top: 65px;
}

.slider-2 .product-photo {
  padding-left: 90px;
  padding-top: 18px;
}

.product-block {
  width: 500px;
  padding-top: 51px;
  position: relative;
}

.product-promo-title {
  font-size: 47px;
  line-height: 56px;
  font-family: gilroyextrabold;
  letter-spacing: 0.8px;
  margin-bottom: 18px;
  width: 510px;
  z-index: 10;
  position: relative;
}

.product-number {
  font-size: 179px;
  line-height: 179.2px;
  font-family: gilroyextrabold;
  color: #ffffff;
  letter-spacing: 0.36px;
  position: absolute;
  top: 6px;
  right: -12px;

}

.slider-list::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 7px;
  background-color: #ffffff;
  top: 55px;
  right: 460px;
}

.product-info {
  color: #464646;
  margin-bottom: 43px;
  width: 485px;

}

.product-info-button {
  /* display: block; */
  margin-bottom: 47px;
  margin-right: 175px;
}

.button {
  display: block;
  font-size: 18px;
  line-height: 40px;
  width: 220px;
  min-height: 40px;
  vertical-align: middle;
  font-family: gilroyextrabold;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  /* box-shadow: 0 0 0 3px red; */
  background: linear-gradient(
    to bottom,
    transparent 16px,
    #f0c52e 16px,
    #f0c52e 24px,
    transparent 24px);
}

.button:hover {
  background: #f0c52e;
}

.button:active {
  background: #f0c52e;
  color: rgba(0,0,0, 0.3);
}

.slider-remote {
  position: absolute;
  font-size: 0;
  right: 72px;
  top: 335px;
  z-index: 100;
}

.product-slider-controls {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1px;
  position: relative;  
}

.product-slider-controls::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border: 1px solid black;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  z-index: 1;  
}

#product-1:checked ~ .slider-remote .slider-controls-1::before,
#product-2:checked ~ .slider-remote .slider-controls-2::before,
#product-3:checked ~ .slider-remote .slider-controls-3::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border: 1px solid black;
  border-radius: 50%;
  top: 13px;
  left: 13px;
  z-index: 2;  
}

#product-1:checked ~ ul .slider-1 {
  display: flex;
}

#product-2:checked ~ ul .slider-2 {
  display: flex;
}

#product-3:checked ~ ul .slider-3 {
  display: flex;
}

td {
  width: 160px;
}

th {
  padding-top: 5px;
}

td:nth-child(2) {
  width: 135px;
}

.product-specs-list td {
  font-size: 36px;
  line-height: 48px;
  font-family: gilroylight;
  letter-spacing: 0.36px;
  font-weight: 300;

}

.product-specs-list th {
  font-size: 13px;
  line-height: 20px;
  font-family: gilroylight;
  color: #464646;
  letter-spacing: 0.13px;
}

/*------------------------------ catalog-section ------------------------------ */

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 63px;
}

.item-image {
  width: 160px;
  height: 160px;
  background-color: #f8e296;
  margin-bottom: 33px;
}

.item-title {
  font-size: 18px;
  line-height: 24px;
  font-family: gilroyextrabold;
  color: #000000;
  letter-spacing: 0.18px;
  width: 160px;
}

.catalog-item:nth-child(1) .item-image {
  background: url("../img/popular-1.svg") no-repeat 50% 50%,
  #f8e296;
}

.catalog-item:nth-child(2) .item-image {
  background: url("../img/popular-2.svg") no-repeat 50% 41px,
  #f8e296;;
}

.catalog-item:nth-child(3) .item-image {
  background: url("../img/popular-3.svg") no-repeat 49px 39px,
  #f8e296;
}

.catalog-item:nth-child(4) .item-image {
  background: url("../img/popular-4.svg") no-repeat 27px 50px,
  #f8e296
}

.catalog-item:nth-child(5) .item-image {
  background: url("../img/popular-5.svg") no-repeat 55px 33px,
  #f8e296;
}

.catalog-item:nth-child(6) .item-image {
  background: url("../img/popular-6.svg") no-repeat 12px 50px,
  #f8e296;
}

.catalog-item:hover .item-image {
  background-color: #f0c52e;
}

.catalog-item:active {
  opacity: 0.5;
}

/*------------------------------ features ------------------------------ */

.features {
  min-height: 278px;
  background: linear-gradient(#ffffff 100px, #e5e5e5 100px);
  position: relative;
}

.features .wrapper {
  display: flex;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 80px;
  padding-bottom: 44px;
  width: 284px;
  position: relative;
  /* box-shadow: 0 0 0 3px green; */
  border-right: 7px solid black; 
}

.feature-list {
  /* box-shadow: 0 0 0 3px green;  */
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 75px;
  width: 760px;
  position: relative;
}

.feature {
  display: none;
  position: relative;
}

.features-list li {
  width: 278px;
}

.feature-item .button {
  width: 160px;
  margin-bottom: 25px;
}

.feature-item:active,
.feature-item:active .button {
  background: #000000;
  color: #f7e184;
}

#feature-1:checked ~ ul .feature-item:nth-child(1),
#feature-1:checked ~ ul .button-1 {
  background: #000000;
  color: #f7e184;
}

#feature-2:checked ~ ul .feature-item:nth-child(2),
#feature-2:checked ~ ul .button-2 {
  background: #000000;
  color: #f7e184;
}

#feature-3:checked ~ ul .feature-item:nth-child(3),
#feature-3:checked ~ ul .button-3 {
  background: #000000;
  color: #f7e184;
}

#feature-1:checked ~ ul .feature-1 {
  display: block;
}

#feature-2:checked ~ ul .feature-2 {
  display: block;
}

#feature-3:checked ~ ul .feature-3 {
  display: block;
}

.feature-list {
  padding-left: 116px;;
}

.feature-title {
  font-size: 47px;
  line-height: 48px;
  font-family: gilroyextrabold;
  color: #000000;
  letter-spacing: 1.21px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.feature-description {
  width: 446px;
  letter-spacing: 0.3px;
}

.feature::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 200px;
  top: -20px;
  right: -85px;
}

.feature-1::after {
  background: url("../img/delivery.svg") no-repeat 29px 30px;
}

.feature-2::after {
  background: url("../img/warranty.svg") no-repeat 10px 5px;
}

.feature-3::after {
  background: url("../img/credit.svg") no-repeat 10px 10px;
}

/*------------------------------ brands-section ------------------------------ */

.brands {
  min-height: 350px;
  background: linear-gradient(#e5e5e5 69px, #ffffff 69px);
  padding-top: 163px;
}

.brand-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

/*------------------------------ information-section ------------------------------ */

/*---------- about-us ---------- */

.information {
  display: flex;
}

.information-title {
  font-size: 47px;
  line-height: 48px;
  font-family: gilroyextrabold;
  color: #000000;
  letter-spacing: 0.1px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  position: relative;
}

.information-title::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #000000;
  left: 0;
  top: -54px;
}

.information-text {
  color: #464646;
  margin: 0;
  padding: 0;  
}

.about-us {
  width: 600px;
  /* box-shadow: 0 0 0 3px green; */
}

.contacts {
  width: 558px;
}

.about-us .information-text {
  width: 490px;
  margin-bottom: 30px;
  /* box-shadow: 0 0 0 3px green; */
}

.delivery-list {
  list-style: none;
  margin: 0;
  padding: 0;  
  margin-top: 67px;
  margin-left: 35px;
  margin-bottom: 55px;
}

.delivery-item {
  font-size: 16px;
  line-height: 40px;
  font-family: gilroyextrabold;
  color: #000000;
  letter-spacing: 0.21px;
}

.information .button {
  width: 260px;
}

.contacts .information-text {
  margin-bottom: 40px;
}

.map {
  margin-bottom: 70px;
  overflow: hidden;
  width: 560px;
  height: 222px;
}

.map iframe {
  z-index: 5;
  /* margin: auto; */
  display: block;
}

.information .button {
  margin-bottom: 81px;
}

/*------------------------------ main-footer ------------------------------ */

.main-footer {
  background-color: #464646;
  padding-top: 60px;
  color: #ffffff;
  min-height: 323px;
}

.main-footer a {
  color: #ffffff;
}

.main-footer .wrapper {
  display: flex;
  flex-direction: column;
}

/*---------- footer-line-1 ---------- */

.main-footer .logo-title {
  color: #ffc600;
  position: relative;
}

.main-footer .logo-title::after {
  position: absolute;
  content: "";
  top: 177px;
  left: 2px;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.main-footer .line-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.footer-user-navigation {
  padding-top: 3px;
}

.footer-user-navigation li:first-child {
  padding-right: 5px;
  position: relative;  
}

.main-footer .login::before {
  background: url("../img/user_footer.svg") no-repeat 50% 50%;
}

.main-footer .compare::before {
  background: url("../img/compare_footer.svg") no-repeat 50% 50%;
}

.main-footer .cart::before {
  background: url("../img/cart_footer.svg") no-repeat 50% 50%;
}



/*---------- footer-line-2 ---------- */

.line-2 {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  margin-bottom: 5px;
}

.line-2 p {
  margin: 0;
  padding: 0;
}


.line-2 > li:first-child,
.line-2 > li:last-child {
  width: 210px;
}

.line-2 > li:last-child {
  text-align: right;
}

.footer-site-navigation {
  padding-top: 4px;
  margin-bottom: 59px;
}

/*---------- footer-line-3 ---------- */

.line-3 {
  width: 100%;
  display: flex;
  padding-left: 30px;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 1px;
  display: flex;
  width: 140px;
  justify-content: space-between;
  margin: 0 auto;
}

.social-button {
  width: 32px;
  height: 32px;
  display: flex;
  opacity: 0.3;
}

.social-button:hover {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.htmlacademylogo {
  width: 30px;
}

.htmlacademylogo:hover {
  opacity: 0.6;
}

.htmlacademylogo:active {
  opacity: 0.3;
}

.catalog-columns {
  width: 100%;
  height: 500px;
  background-color: grey;
  display: flex;
}

.catalog-column {
  height: 100%;
  flex-grow: 1;
}

.filters {
  background-color: green;
  flex-basis: 330px;
}

.catalog {
  background-color: blue;
  flex-basis: 830px;
}

/* .filters-column {
  width: 330px;
  margin-left: auto;
  background-color: grey;
} */

/* .catalog-column {
  width: 830px;
  margin-right: auto;
  background-color: grey;
} */